.footer{
    height: 4rem;
    background-color: white;
    padding: 0 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 300;
    }
}
